body{
  background-color: $dark-grey;
  color: $white;
}

.container{
  margin-bottom: 80px;
}

hr{
  border-color: $light-pink;
  margin-top: 30px;
  margin-bottom: 30px;
}
hr:first-of-type{
  margin-top: 50px;
}

h1{
  margin-top: 50px;
}

.build-cool-shit img{
  margin-top: 5px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.sponsors img{
  border-radius: 3px;
  width: 100%;
  margin: 0 auto;
  display: block;

  @media #{$medium-and-below} {
    max-width: 320px;
  }
}

.list-group{

  .fa{
    margin-right: 12px;

    &.fa-check{
      color: $positive-green;
    }

    &.fa-times{
      color: $negative-red;
    }
  }

  .list-group-item{
    background-color: transparent;

    h4{
      margin: 2px 0;
      text-align: center;
    }
  }
}

.carousel img{
  width: 100%;
}
