body{
  background-color: $dark-grey;
  color: $white;
}

a {
  color: $link-blue;

  &:hover{
    @extend a;
    text-decoration: underline;
  }
}

.container{
  margin-bottom: 80px;
}

hr{
  border-color: $light-pink;
  box-shadow: 0 0 5px $deep-pink;
  margin-top: 30px;
  margin-bottom: 30px;
}

hr:first-of-type{
  margin-top: 50px;
}

h1{
  margin-top: 50px;
}

.build-cool-shit img{
  margin-top: 5px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.sponsors img{
  border-radius: 3px;
  width: 100%;
  margin: 0 auto;
  display: block;

  @media #{$medium-and-below} {
    max-width: 320px;
  }
}

.list-group{

  .fa{
    margin-right: 12px;

    &.fa-check{
      color: $positive-green;
    }

    &.fa-times{
      color: $negative-red;
    }
  }

  .list-group-item{
    background-color: transparent;

    h4{
      margin: 2px 0;
      text-align: center;
    }
  }
}

.carousel img{
  width: 100%;

  @media #{$medium-and-below} {
    padding-top: 15px;
  } 
}

.map{
  width: 100%;
  height: 196px;
  
  @media #{$mid-large-and-below} {
    height: 159px;
  }

  @media #{$medium-and-below} {
    height: 320px;
  } 
}

.schedule-image{
  display: block;

  @media #{$medium-and-below} {
    margin-left: auto;
    margin-right: auto;
  }
}
