$white: #FFFFFF;
$link-blue: #72D3CA;
$light-grey: #CCCCCC;
$dark-grey: #252525;
$light-pink: #FFC0CB;
$deep-pink: #FF1493;

@import 'partials/body';
@import 'partials/lasergrid';
@import 'partials/popups';


