body {
  background-color: #252525;
  color: #fff;
}
hr{
  border-color: pink;
}

.build-cool-shit{
  text-align: center;
}
.build-cool-shit img{
  margin-top: 5px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
}


.power-plant,
.power-station{
  width: 100%;
  padding: 0;
  margin: 0;
  height: 400px;
  position: relative;

}

.power-core{
  background-image: url(http://make.cat/assets/images/bg.png);
  border-bottom: 2px solid pink;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

img.power-source{
  position: absolute;
  width: 500px;
  left: 50%;
  margin-left: -250px;
  top: 50%;
  margin-top: -151px;
}

a.oh-god-turn-it-off-please-my-computer-is-on-fire{
  text-decoration: none;
  color: #ccc;
  position: absolute;
  font-size: 12px;
  top: 12px;
  right: 12px;
  width: 200px;
  padding: 12px;
  background-color: rgba(255,255,255,0.15);
  border-radius: 6px;
}


@media (max-width: 768px) {

  img.power-source {
    position: absolute;
    width: 250px;
    left: 50%;
    margin-left: -125px;
    top: 50%;
    margin-top: -76px;
  }

  .power-plant,
  .power-station {
    height: 200px;
  }

}